@mixin flexbox($flow, $wrap, $justify, $gap) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  gap: $gap;
}

@mixin responsive($width: 1000px) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin afterSquare($right, $top, $content, $size) {
  &::after {
    width: $size;
    height: $size;
    color: white;
    content: $content;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: $right;
    top: $top;
  }
}