@import 'reset';
@import 'mixins';
@import 'components/header';
@import 'components/banner';
@import 'components/slider';
@import 'components/icon';
@import 'components/edit-button';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  height: 100%;
  font-family: 'Poppins';
  color: white;
  background-color: black;
}

.mobile-wrapper {
  @include responsive {
    max-width: 400px;

    margin: 0 auto;

    position: relative;
  }
}