@import "../mixins";

.edit-button {
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: url("../img/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;

  position: fixed;
  right: 10px;
  bottom: 13px;

  z-index: 2000;

  @include responsive {
    position: absolute;
  }
}