@import "../mixins";

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  padding: 11px 10px;

  position: absolute;

  &__h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    transform: scaleY(.9);

    padding-left: 5px;
    margin: 0;
  }

  &__avatar {
    width: 48px;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__main {
    @include flexbox(row, nowrap, space-between, 11px);
  }



}