.icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  display: inline-block;

  &:not(:last-child) {
    margin-right: 11px;
  }

  &--search {
    background-image: url('../img/search.svg');
  }

  &--options {
    background-image: url('../img/options.svg');

  }
}