@import "../mixins";

.wrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);

  padding-top: 71px;

  position: relative;
  top: -71px;

  z-index: 1000;
}

.slider {
  max-height: 375px;

  overflow: auto;
  white-space: nowrap;

  padding: 25px 18px;

  // Hide scrollbar
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;

  /* for Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  &__item {
    width: 140px;

    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }

  }

  &__number {
    width: 40px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
  }
}